.sidebar {
  display: flex;
  flex: 0.30;
  height: 100vh;
  // background-color: #33363d;

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33363d;
    padding: 7px 15px;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: gray;
      border-radius: 9999px;
      margin-top: 7px;
      margin-bottom: 10px;
      position: relative;

      img {
        position: absolute;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: #2b2d33;
    width: 300px;
    position: relative;
    flex-grow: 1;

    .sidebarTop {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 13px;

      .sidebarChannelsHeader {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        .sidebarHeader {
          display: flex;
        }

        .sidebarAddIcon {
          cursor: pointer;
        }
      }
    }

    .sidebarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding-bottom: 10px;
      border-top: 1px solid #686a62;
      padding-top: 10px;
      margin-left: -3px;

      .sidebarAccount {
        display: flex;
        align-items: center;

        img {
          width: 60px;
        }

        .accountName {
          margin-left: 5px;

          h4 {
            color: white;
            font-weight: 500px
          }

          span {
            color: #686a6e;
          }
        }
      }

      .sidebarVoice {
        display: flex;
        align-items: center;
        color: #686a6e;
      }
    }
  }
}